<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">
<script src="https://use.fontawesome.com/0aee473986.js"></script>

<header>
    <nav>
        <ul class="menu">
            <a href="/microbit/index">Monitor microbits</a> |
            <a href="/microbit/info">General info</a>
        </ul>
    </nav>
</header>

<main>
